# compiled output
/dist/
/tmp/
/out-tsc/

# dependencies
/node_modules/
package-lock.json

# environment variables
/.env
/environment/

# IDE files
/.idea/
*.iml
.idea_modules/

# misc
.DS_Store
Thumbs.db
