<div class="ac-container">
  <div class="ac-left-container">
    <!-- Attendace Correction -->
    <div class="w-100">
      <div class="ac-left-box">
        <div class="ac-title">
          Attendace Correction
        </div>
        <div class="p-1 pb-3">
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100 pointer" appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-icon matSuffix (click)="picker.open()">calendar_today</mat-icon>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Time In</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Time Out</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
            </p>
          </div>
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Time Correction In</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Time Correction Out</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              &nbsp;
            </p>
          </div>
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Brief Reason</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>view_headline</mat-icon>
              </mat-form-field>
            </p>
          </div>
        </div>
        <div class="ac-footer">
          <div class="text-right ac-button-list">
            <a routerLink="/" class="ml-2">Submit</a>
            <a routerLink="/" class="ml-2">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Leave Reversal -->
    <div class="w-100">
      <div class="ac-left-box">
        <div class="ac-title">
          Leave Reversal
        </div>
        <div class="p-1 pb-3">
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date</mat-label>
                <mat-select>
                  <mat-option value="option">3 Consecutive</mat-option>
                  <mat-option value="option">> 09:30</mat-option>
                  <mat-option value="option">Annual Leave</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              <mat-form-field class="w-100 pointer" appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-icon matSuffix (click)="picker2.open()">calendar_today</mat-icon>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </p>
            <div class="w-100 mx-1">
              &nbsp;
            </div>
          </div>
          <div class="ac-footer">
            <div class="text-right ac-button-list">
              <a routerLink="/" class="ml-2">+ Add</a>
            </div>
          </div>
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100 pr-2" appearance="outline">
                <mat-label>Brief Reason</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>view_headline</mat-icon>
              </mat-form-field>
            </p>
          </div>
        </div>
        <div class="ac-footer">
          <div class="text-right ac-button-list">
            <a routerLink="/" class="ml-2">Submit</a>
            <a routerLink="/" class="ml-2">Cancel</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Shift Change Request -->
    <div class="w-100">
      <div class="ac-left-box">
        <div class="ac-title">
          Shift Change Request
        </div>
        <div class="p-1 pb-3">
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100 pointer" appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker3">
                <mat-icon matSuffix (click)="picker3.open()">calendar_today</mat-icon>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Requested Shift</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
            </p>
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Current Shift</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
            </p>
          </div>
          <div class="d-flex my-1">
            <p class="w-100 mx-1">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Brief Reason</mat-label>
                <input matInput placeholder="">
                <mat-icon matSuffix>view_headline</mat-icon>
              </mat-form-field>
            </p>
          </div>
        </div>
        <div class="ac-footer">
          <div class="text-right ac-button-list">
            <a routerLink="/" class="ml-2">Submit</a>
            <a routerLink="/" class="ml-2">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Correction Status -->
  <div class="ac-right-container">
    <div class="w-100">
      <div class="ac-right-box mt-2">
        <div class="ac-title">
          Correction Status
        </div>
        <table class="ac-table" mat-table [dataSource]="statusDataSource">
          <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->
          A
          <!-- Position Column -->
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Month </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="corrections">
            <th mat-header-cell *matHeaderCellDef> Corrections </th>
            <td mat-cell *matCellDef="let element"> {{element.corrections}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="approved">
            <th mat-header-cell *matHeaderCellDef> Approved </th>
            <td mat-cell *matCellDef="let element"> {{element.approved}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef> Pending </th>
            <td mat-cell *matCellDef="let element"> {{element.pending}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="rejected">
            <th mat-header-cell *matHeaderCellDef> Rejected </th>
            <td mat-cell *matCellDef="let element"> {{element.rejected}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="statusColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: statusColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Correction Applications -->
<div class="ac-container">
  <div class="w-100">
    <div class="ac-box ml-2 ">
      <div class="ac-title">
        Correction Applications
      </div>
      <div class="ac-content">
        <table class="ac-table" mat-table [dataSource]="correctionAppsDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Month </th>
            <td mat-cell *matCellDef="let element"> {{element.dated}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="corrections">
            <th mat-header-cell *matHeaderCellDef> Corrections </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="approved">
            <th mat-header-cell *matHeaderCellDef> Approved </th>
            <td mat-cell *matCellDef="let element"> {{element.correctionDate}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef> Pending </th>
            <td mat-cell *matCellDef="let element"> {{element.lmStatus}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="rejected">
            <th mat-header-cell *matHeaderCellDef> Rejected </th>
            <td mat-cell *matCellDef="let element"> {{element.hrStatus}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="statusColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: statusColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page" class="mt-2">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
