
  
  .month-card{
    text-decoration: none;
    font: 12px Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 500 !important;
  }
  
  .month-card:focus{
    font-weight: 600 !important;
  }
  .ml-15NP{
    margin-left: -15px
  }
